[data-mode="dark"] {
  --background-color: black;
  --color: white;
  --background: linear-gradient(
    45deg,
    rgb(92, 92, 92) 50%,
    rgb(27, 27, 27) 50%
  );
  --textarea: #3a3b3c;
}
[data-mode="light"] {
  --background-color: white;
  --color: black;
  --background: linear-gradient(
    45deg,
    rgb(241, 241, 241) 50%,
    rgb(158, 232, 255) 50%
  );
  --textarea: white;
}
