.cartContainer {
  width: 35%;
  border: 8px solid #3f418d;
  text-align: center;
  position: relative;
}
.cartContainer h1 {
  margin-bottom: 30px;
}
.cartProducts {
  display: flex;
  margin: 15px 15px;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #3f418d;
  color: white;
  font-size: 20px;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background-color: #3f418d;
  color: white;
  margin: 15px 15px;
  position: absolute;
  bottom: 0;
  width: 90%;
}
.total p {
  font-size: 22px;
}
