.passwordContainer {
  text-align: center;
}
h1 {
  margin-top: 30px;
}
.inputAndButton {
  display: flex;
  margin-top: 35px;
}
.inputAndButton input {
  width: 100%;
  height: 25px;
}
.inputAndButton button {
  cursor: pointer;
  background-color: #116bb4;
  border: none;
  border-radius: 4px;
}
