.container {
  width: 35%;
  background-color: #fcf7f7;
  padding: 30px 30px 40px;
  margin: 20vh auto;
  border-radius: 10px;
  transition: 0.2s linear;
}
.container:hover {
  box-shadow: 0 5px 25px rgba(15, 15, 15, 0.5);
}
.heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
form {
  margin: 0 auto;
  width: 90%;
}

input[type="text"] {
  /* background-color: #f8fafc; */
  border: none;
  border: 1px solid #06b6d4;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
  height: 30px;
  width: 80%;
}
input[type="submit"] {
  height: 30px;
  padding: 0 15px;
  background-color: #06b6d4;
  color: white;
  border: none;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: 0.1s linear;
}
input[type="submit"]:hover {
  background-color: #0e7490;
}
.groceryItemContainer {
  margin-top: 30px;
}
