.textAndInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.passwordGenerator button {
  width: 100%;
  background-color: #116bb4;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
}
button {
  transition: 0.1s linear;
}
button:hover {
  background-color: #008000;
}
input[type="checkbox"] {
  cursor: pointer;
}
